/*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */

/*  GRID OF EIGHT TURNS INTO A GRID OF FOUR */

.span_8_of_8 {
	width: 100%; 
	margin-left: 0;
}

.span_7_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_6_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_5_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_4_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_3_of_8 {
	width: 74.2%;
	margin: 1% 0 1% 3.2%;
}

.span_2_of_8 {
	width: 48.4%;
	margin: 1% 0 1% 3.2%; 
}

.span_1_of_8 {
	width: 22.6%;
	margin: 1% 0 1% 3.2%; 
}

.span_1_of_8:nth-child(4n+1) { 
	clear: both;
	margin-left: 0;
}

#wrapper{
	width: 95%;
	header#header{
		#header-top{
			display: none;
		}
		#header-bottom{
			#header-bottom-wrapper{
				#logo{
					display: none;
				}
				nav{
					/*display: none;*/
					ul{
						li{
							padding-left: 0;
							a{
								padding: 2px 2px;
							}
						}
					}
				}		
			}
		}
		#header-middle{
			#header-middle-wrapper{
				#title{
					padding-left: 0;
					text-align: center;
				}
			}
		}
	}
	#home-content{
		#col1{
			#headlines-opinion-wrapper{
				#headlines-wrapper{
					#headlines-col1{
						margin: 0;
					}
					#headlines-col2{
						padding-top: 1em;
						margin: 0;
						h1{
							margin-top: 0.5em;
						}
					}
				}
			}
			#latest-news-edition-tabs-wrapper{
				#latest-news-edition-wrapper{
					#edition-wrapper{
						#edition-title-wrapper{
							h1{
								width: auto;
							}
							time{
								width: auto;
							}
						}
					} 
				}
			}
		}
	}
	footer#footer{
		#footer-top{
			#footer-title{
				text-align: center;
			}
			nav{			
				ul{
					li{
						text-align: center;
					}
				}
			}
		}
		#footer-middle{
			nav{
				margin-top: 0;
				column-count:1;
				-moz-column-count:1; /* Firefox */
				-webkit-column-count:1; /* Safari and Chrome */					
				ul{
					li{
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}
}