@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic);

@default: 'PT Sans', sans-serif;

//Colors
@white:#ffffff;
@white2:#F3F4F6;
@black:#000000;
@black-light:#1F1E23;
@blue:#004391;
@blue-dark:#161C2A;
@gray:#778C9D;
@brown:#985717;



//mixins

.rounded(@radius1: 5px, @radius2: 5px, @radius3: 5px, @radius4: 5px){
    -webkit-border-top-left-radius: @radius1;
    -webkit-border-top-right-radius: @radius2;
    -webkit-border-bottom-right-radius: @radius3;
    -webkit-border-bottom-left-radius: @radius4;
    -moz-border-radius-topleft: @radius1;
    -moz-border-radius-topright: @radius2;
    -moz-border-radius-bottomright: @radius3;
    -moz-border-radius-bottomleft: @radius4;
    border-top-left-radius: @radius1;
    border-top-right-radius: @radius2;
    border-bottom-right-radius: @radius3;
    border-bottom-left-radius: @radius4;
    -khtml-border-radius:@radius1; /* Linux browsers */    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(../PIE.php);
}

.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

.gradient(@color: #008b82, @start: #008b82, @end: #00a89c){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: linear-gradient(@start, @end); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(../PIE.php);
}

.shadow-bottom(@color: #ffffff){
    -webkit-box-shadow: 0 0.25em 0.1em -2px @color;
    -moz-box-shadow: 0 0.25em 0.1em -2px @color;
    box-shadow: 0 0.25em 0.1em -2px @color;    
}

.no-shadow(){
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    -moz-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;    
}

.button-orange(){
    .gradient(@orange, @orange-light, @orange-dark);
    .rounded(5px,5px,5px,5px);
    -webkit-box-shadow: 0 0.25em 0em -2px @gray1;
    -moz-box-shadow: 0 0.25em 0em -2px @gray1;
    box-shadow: 0 0.25em 0em -2px @gray1;  
    font-size: 1.4em;
    font-weight: bold;
    font-family: @default;
    padding: 0.5em;
    text-align: center;
    width: 140px;
    cursor: pointer;
    a{
        color: @white;
    }
    &:hover{
        .gradient(@orange, @orange-dark, @orange);
    }
}