html{
    .mp0();
}
a{
	font-family:@default;
	color: @black;
    text-decoration: none;
}
a:hover{
    color: @black;
    text-decoration: none;
}

body{
	background: @white2;
    font-family: @default;
    font-size: 14px;
    color: @black;
    text-align: center;
}
p{
	color: @black-light;
	font-family:@default; 
	font-weight: normal;
	margin: 0.5em 0;
	line-height: 1.2em;
	text-align: left;
}
ul{
	color: @black-light;
	li{
		list-style: none;
		background: url(images/ul-icon.png) 0 9px no-repeat;
		padding-left: 20px; 
	}
}

//Headers

h1, h2, h3, h4, h5, h6{
	font-family: @default;
	font-weight: 600;
}
h1{
	font-size: 2.3em;
}
h2{
	font-size:2em;
}
h3{
	font-size:1.7em;
}

//Global styles

.inner,#login {
	max-width: 1200px;
	margin: 0 auto;
	/*overflow: hidden;*/
	clear: both;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}

.nocomments{
	display: none;
}

.read-more{
	text-align: left;
	a{
		font-weight: bold;
		font-size: 0.9em;
		font-family: @default;
		&:hover{
			text-decoration:underline;
		}
	}
}

//Layout

#wrapper{
	margin: auto;
	width: 100%;

	header#header{
		z-index: 100;
		position: relative;
		#header-top{ 
			height: 125px;
		    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
		    background: rgba(255, 255, 255, .7);
			padding: 0 0 10px 20px;			
			#logo{
				text-align: left;
				margin-bottom: 0;
				outline: none;
			}
			#slogan{
				padding-top: 35px;
				font-weight: 600;
				font-size: 1.4em;
				font-style: italic;
				font-family: @default;
			}
			#social-network{
				margin-top: 45px;			
				ul{
					float: right;
					padding-right: 30px;
					li{
						list-style: none;
						display: inline;
						background: url("images/social.png") no-repeat;
						display: inline-block;
						height: 52px;
						text-indent: -9999px;
						padding: 0px 2px;
						width: 48px;
						a{
							height: 52px;
							text-indent: -9999px;
							padding: 0px 2px;
							width: 48px;
							display: block;
							outline: none;					
						}
						&.facebook{
							background-position: 0px 0px;
							&:hover{
								background-position: -91px 0px;
							}
						}
						&.twitter{
							background-position: 0px -70px;
							&:hover{
								background-position: -91px -70px;
							}
						}
						&.linkedin{
							background-position: 0px -144px;
							&:hover{
								background-position: -91px -144px;
							}
						}											
					}
				}
			}
		}
		nav{
			margin: 0;
			text-align: left;
			ul{
				.mp0();
				position: relative;
				background-color: @blue;
				#menu-item-20,#menu-item-18{
					display: none;
				}
				> li{
					background-image: none;
					padding-left: 0;
					display: inline;
					list-style: none;
					position: relative;
					width: auto;
					a{
						background-color: @blue; 
						color: @white;
						text-transform: uppercase;
						display: inline-block;
						font-size: 1.3em;
						font-weight: bold;
						padding: 12px 21px;
						font-family: @default;
					}
					&:hover{
						ul.sub-menu{
							display: block;
						}
						.sub-menu2,.sub-menu3{
							display: inline-block;
						}						
						a{
							background-color: @blue-dark; 
						}
					}
					&.menu-item-has-children:hover{
						a{
							background-color: @blue-dark;
							color: @white;
						}
					}						
					ul{
						display: none;
						position: absolute;
						top: 29px;
						left: 0;
						padding:0px;
						min-width:150px;
						z-index: 2000;
						background-color: @blue-dark;
						li{
							display: block;
							z-index: 2000;
							
							padding: 5px 17px 5px 17px;
							a{
								min-width: 230px;
								font-weight: normal;
								font-size: 1.1em;
								text-transform: initial;
								background: url(images/ul-icon.png) 0 16px no-repeat;
								padding-left: 20px; 	
							}
						}
					}
					.sub-menu2,.sub-menu3{
						display: none;
						left: 0;
					    position: absolute;
					    top: 29px;
					    /*width: 576px;*/
					    background-color: @blue-dark;
						.col-submenu{
							float: left;
							background-color: @blue-dark;
							padding: 25px 17px 13px 17px;
							h2{
								color: @white;
								font-weight: normal;
								font-size: 1.2em;
								padding-bottom: 19px;
								margin-bottom: 7px;
								border-bottom: 1px solid @brown;
							}
							a{
								background-color: @blue-dark;
								font-weight: normal;
								font-size: 1.1em;
								text-transform: initial;
								background: url(images/ul-icon.png) 0 16px no-repeat;
								padding-left: 20px; 								
							}
						}
						#col-submenu1,#col-submenu3{
							width: 262px;
						}
						#col-submenu2,#col-submenu4{
							width: 245px;
						}
						.row{

						}
					}
				}
			}
			#menu-menu-1{
				width: 75%;
				float: left;
			}
			#menu-members-menu, #menu-logout{
				float: left;
				width: 25%;
				li{
					background-color: @blue-dark;
					a{
						background-color: @blue-dark;
					}
				}
				#menu-item-69s{
					float: right;
				}
			}
			#menu-logout{
				li{
					float: right;
				}
			}
		}		
	}

	#slider{
		width: 100%;	
		height: 400px;
		position: relative;
		z-index: 20;
		bottom: 177px;
		#slider-wrapper{
			position: absolute;
			top: 0;
			left: 0;
			li{
				background-image: none;
				padding-left: 0;
			}		
			img{
				height: 577px;
			}
			.text{
				position: relative;
				bottom: 91px;
				background: url(images/bg-pattern.png);
			    background-color: rgb(172, 102, 30); /* Fall-back for browsers that don't support rgba */
			    background-color: rgba(172, 102, 30, .7);
				width: 100%;
				text-align: left;
				display: inline-block;
				h1{
					padding-left: 20px;
					color: @white;
					line-height: 90px;
					font-size: 1.9em; 
					float: left;
				}
				div{
					float: right;
					line-height: 90px;
					a{
						background-color: @blue-dark;
						padding: 10px 40px;
						color: @white;
						font-weight: bold;
						font-size: 1.3em;
					}
				}
			}
			.flex-direction-nav{
				a{
					background-image: url(images/arrows.png);
					background-repeat: no-repeat;
					width: 60px;
					height: 60px;
					top: 41%;
				}
				.flex-prev{
					background-position: 0 0;
					left: 0;
				}
				.flex-next{
					background-position: 0 -76px;
					right: 0;
				}
			}
		}
	}

	#home-content{
		margin: 35px auto;
		#boxes-container{
			.box-container{
				height: 100%;
				section{
					background-color: @white;
					padding-top: 25px;
					position: relative;
					width: 355px;
					.box-image{
						background-image: url(images/icons.png);
						background-repeat: no-repeat;
						width: 100px;
						height: 100px;
						margin-left: 36%;
					}
					#box-image1{
						background-position: 0 0;
					}
					#box-image2{
						background-position: 0 -150px;
					}
					#box-image3{
						background-position: 0 -300px;
					}
					h2{
						padding: 20px 0;
						color: @blue;
						font-weight: normal;
					}
					.text{
						margin: 0 20px 20px 27px;
						p{
							color: @black-light;
							line-height: 25px;
							font-size: 1.1em;
						}
						ul{
							line-height: 25px;
							font-size: 1.1em;
							li{
								text-align: left;
								list-style-type: none;
								line-height: 25px;
							}						
						}
					}
					.more{
						position: absolute;
						bottom: 0;
						left: 28%;
						padding: 11px 0;
						a{
							padding: 8px 45px;
							background-color: @blue;
							color: @white;
							font-weight: bold;
							font-size: 1.3em;
						}
					}
					&:hover{
						background-color: @blue;
						p,li,h2{
							color: @white;
						}
						.more{
							a{
								background-color: @white;
								color: @black;
							}
						}
						#box-image1{
							background-position: -155px 0;
						}
						#box-image2{
							background-position: -155px -150px;
						}
						#box-image3{
							background-position: -155px -300px;
						}						
					}
				} 
				.section1{
				/*	margin-left: 0;
					margin-right: 24px;*/
				}
				.section2{
					margin-left: 15px;
					/*margin-right: 24px;*/
				}
				.section3{
					margin-left: 30px;
					/*margin-left: 24px;*/
				}
			}
		}
	}

	footer#footer{
		background-color: @white;
		#footer-top{
			border-top: 1px solid @brown;
			padding: 35px 0;
			img{
				margin-right: 35px;
			}
		}
		#footer-bottom{
			font-size: 1em;
			padding-bottom: 10px;
			span{
				color: @brown;
				padding: 0 10px;
			}
			ul{
				display: inline;
				li{
					display: inline;
					list-style: none;
					background-image: none;
					padding-left: 0;
					a{
						background-image: url(images/social-footer.png);
						background-repeat: no-repeat;
						width: 27px;
						line-height: 19px;
						text-indent: -9999px;
						display: inline-block;
					}
					&.facebook{
						a{
							background-position: 12px 0;
						}
					}
					&.twitter{
						a{
							background-position: 0 -40px;
						}
					}
					&.linkedin{
						a{
							background-position: 0 -80px;
						}
					}
				}
			}
		}
	}

	.content-area{
		overflow: hidden;
		width: 90%;
		ul{
			margin: 2em;
			li{
				line-height: 1.5em;
			}
		}
		p{
			line-height: 1.5em;
		}		
		#content{
			text-align: left;
			margin: 3em 0;
			article{
				display: inline-block;
				padding: 2em 0 1em 0;
				text-align: left;
				width: 90%;
				border-bottom: 1px solid @gray;
				header{
					h1{
						margin: 0 0 0.5em 0;
					}
				}
				.entry-content{
					margin: 1em 0;
				}
				footer{
					margin-top: 3em;
					#commentform{
						#email, #url,label[for=email],label[for=url]{
							display: none;
						}
						#submit{
							background-color: @blue;
							color: @white;
							font-weight: bold;
							padding: 10px 6px;
							border: none;
						    .rounded(5px,5px,5px,5px);
						    cursor: pointer;						
						}
					}
					.commentlist{
						margin: 1.5em 0;
						.comment{
							margin: 1.5em 0;
						}
					}
				}
			}
			.archive-header-category{
				padding-right: 5em;
				h1{
					font-size: 2.5em;
					margin: 0.5em 0;
    				padding: 0.5em 0;
				}
			}
			#content-category{
				article{
					header{
						h1{
							font-size: 1.5em;
						}
					}
					img{
						width: 100%;
						height: 100%;
					}
					aside{
						p{
							padding-left: 0.3em;
						}
					}
					.read-more{
						display: inline-block;
						padding: 0 0 1em 0.4em;
						font-weight: 600;
					}
				}				
			}
			.wp-pagenavi {
			    margin: 3em 0;
			}
			#searchform{
				height: 40px;
				padding: 0px;
				margin-top: 8px;
				width: 22.31%;

				#s{
					background: @blue;
					border: none;
					color: @white;
					float: left;
					line-height: 38px;
					height: 33px;
					padding-left: 5%;
					font-weight: bold;
					width: 85%;
				}
				#searchsubmit{
					background:url("images/icon-search.png") 0 8px no-repeat @blue;
					border:none;
					height: 35px;
					margin: 0px;
					width: 10%;
					cursor: pointer;
				}				
			}
		}
		#secondary,#sidebar{
			margin-top: 2em;
			li{
				list-style-type: none;
				margin-bottom: 0.3em;
    			padding-bottom: 0.3em;
    			border-bottom: 0.1em solid #d5d5d5;
				&:last-child{
					border-bottom: none;
				}
				a{
					color: @black-light;
				}
			}
			.widgettitle{
				font-size: 2em;
				margin-top: 1em;
				text-align: left;
			}
			ul{
				margin: 1em 0 0.5em 0;
				text-align: left;
			}
			#searchform{
				height: 40px;
				padding: 0px;
				margin-top: 8px;
				width: 22.31%;

				#s{
					background: @blue;
					border: none;
					color: @white;
					float: left;
					line-height: 38px;
					height: 33px;
					padding-left: 5%;
					font-weight: bold;
					width: 85%;
				}
				#searchsubmit{
					background:url("images/icon-search.png") 0 8px no-repeat @blue;
					border:none;
					height: 35px;
					margin: 0px;
					width: 10%;
					cursor: pointer;
				}				
			}		
		}
	}

	.video-container {
	    position: relative;
	    padding-top: 30px; 
	    height: 0; 
	    overflow: hidden;
	    width: 40%;
	    padding-bottom: 400px;
	    iframe, object, embed{
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	    }
	}
	 
	#login{
		padding: 2em 0;
		> h1{
			display: none;
		}
		.register{
			display: none;
		}
		.disclaimer{
			text-align: left;
			padding: 8px 0;
			color: @black-light;
		}
	} 
	.login-title{
		font-weight: bold;
		padding: 40px 0 0 0;
	}
}

@media only screen and (max-width: 1400px) {
	.inner{
		#home-content{
			width: 85%;
		}
	}
}