
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col0 {
	display: block;
	float:left;
	margin: 0;
	text-align: left;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

/* 
	100% width auto control for "img", "object" and
	"embed" controls.
	============================================ IMAGE FULL WIDTH CONTROLS ====
*/
img, object, embed { max-width: 100%; }
img { height: auto; }
figure img { max-width: 100%; }

/*  GRID OF TWO   ============================================================================= */


.span_2_2 {
	width: 100%;
}

.span_1_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_2_2 {
		width: 100%; 
	}
	.span_1_2 {
		width: 100%; 
	}
	.col0{
		width: 100% !important;
	}
}

/*  GRID OF THREE   ============================================================================= */

	
.span_3_3 {
	width: 100%; 
}

.span_2_3 {
	width: 66.13%; 
}

.span_1_3 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_3 {
		width: 100%; 
	}
	.span_2_3 {
		width: 100%; 
	}
	.span_1_3 {
		width: 100%;
	}
}
/*  GRID OF FIVE   ============================================================================= */

	
.span_5_5 {
	width: 100%;
}

.span_4_5 {
  	width: 79.68%; 
}

.span_3_5 {
  	width: 59.36%; 
}

.span_2_5 {
  	width: 39.04%;
}

.span_1_5 {
  	width: 18.72%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_5_5 {
		width: 100%; 
	}
	.span_4_5 {
		width: 100%; 
	}
	.span_3_5 {
		width: 100%; 
	}
	.span_2_5 {
		width: 100%; 
	}
	.span_1_5 {
		width: 100%; 
	}
}
/*  GRID OF SIX   ============================================================================= */


.span_6_6 {
	width: 100%;
}

.span_5_6 {
  	width: 83.06%;
}

.span_4_6 {
  	width: 66.13%;
}

.span_3_6 {
  	width: 49.2%;
}

.span_2_6 {
  	width: 32.26%;
}

.span_1_6 {
  	width: 15.33%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_6_6 {
		width: 100%; 
	}
	.span_5_6 {
		width: 100%; 
	}
	.span_4_6 {
		width: 100%; 
	}
	.span_3_6 {
		width: 100%; 
	}
	.span_2_6 {
		width: 100%; 
	}
	.span_1_6 {
		width: 100%; 
	}
}
/*  GRID OF SEVEN   ============================================================================= */


.span_7_7 {
	width: 100%;
}

.span_6_7 {
	width: 85.48%;
}

.span_5_7 {
  	width: 70.97%;
}

.span_4_7 {
  	width: 56.45%;
}

.span_3_7 {
  	width: 41.94%;
}

.span_2_7 {
  	width: 27.42%;
}

.span_1_7 {
  	width: 12.91%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_7_7 {
		width: 100%; 
	}
	.span_6_7 {
		width: 100%; 
	}
	.span_5_7 {
		width: 100%; 
	}
	.span_4_7 {
		width: 100%; 
	}
	.span_3_7 {
		width: 100%; 
	}
	.span_2_7 {
		width: 100%; 
	}
	.span_1_7 {
		width: 100%; 
	}
}
/*  GRID OF EIGHT   ============================================================================= */

	
.span_8_8 {
	width: 100%;
}

.span_7_8 {
	width: 87.3%; 
}

.span_6_8 {
	width: 74.6%; 
}

.span_5_8 {
	width: 61.9%; 
}

.span_4_8 {
	width: 49.2%; 
}

.span_3_8 {
	width: 36.5%;
}

.span_2_8 {
	width: 23.8%; 
}

.span_1_8 {
	width: 11.1%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_8_8 {
		width: 100%; 
	}
	.span_7_8 {
		width: 100%; 
	}
	.span_6_8 {
		width: 100%; 
	}
	.span_5_8 {
		width: 100%; 
	}
	.span_4_8 {
		width: 100%; 
	}
	.span_3_8 {
		width: 100%; 
	}
	.span_2_8 {
		width: 100%; 
	}
	.span_1_8 {
		width: 100%; 
	}
}

/*  GRID OF NINE   ============================================================================= */


.span_9_9 {
	width: 100%;
}

.span_8_9 {
	width: 88.71%;
}

.span_7_9 {
	width: 77.42%; 
}

.span_6_9 {
	width: 66.13%; 
}

.span_5_9 {
	width: 54.84%; 
}

.span_4_9 {
	width: 43.55%; 
}

.span_3_9 {
	width: 32.26%;
}

.span_2_9 {
	width: 20.97%; 
}

.span_1_9 {
	width: 9.68%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_9_9 {
		width: 100%; 
	}
	.span_8_9 {
		width: 100%; 
	}
	.span_7_9 {
		width: 100%; 
	}
	.span_6_9 {
		width: 100%; 
	}
	.span_5_9 {
		width: 100%; 
	}
	.span_4_9 {
		width: 100%; 
	}
	.span_3_9 {
		width: 100%; 
	}
	.span_2_9 {
		width: 100%; 
	}
	.span_1_9 {
		width: 100%; 
	}
}
/*  GRID OF TWELVE   ============================================================================= */

.span_12_12 {
	width: 100%;
}

.span_11_12 {
	width: 91.53%;
}

.span_10_12 {
	width: 83.06%;
}

.span_9_12 {
	width: 74.6%;
}

.span_8_12 {
	width: 66.13%;
}

.span_7_12 {
	width: 57.66%; 
}

.span_6_12 {
	width: 49.2%; 
}

.span_5_12 {
	width: 40.73%; 
}

.span_4_12 {
	width: 32.26%; 
}

.span_3_12 {
	width: 23.8%;
}

.span_2_12 {
	width: 15.33%; 
}

.span_1_12 {
	width: 6.86%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_12_12 {
		width: 100%; 
	}
	.span_11_12 {
		width: 100%; 
	}
	.span_10_12 {
		width: 100%; 
	}
	.span_9_12 {
		width: 100%; 
	}
	.span_8_12 {
		width: 100%; 
	}
	.span_7_12 {
		width: 100%; 
	}
	.span_6_12 {
		width: 100%; 
	}
	.span_5_12 {
		width: 100%; 
	}
	.span_4_12 {
		width: 100%; 
	}
	.span_3_12 {
		width: 100%; 
	}
	.span_2_12 {
		width: 100%; 
	}
	.span_1_12 {
		width: 100%; 
	}
}