@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic);
/* html5reset.css - 01/11/2011 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
p {
  margin: 0;
}
/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  GROUPING  ============================================================================= */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */

}
/*  GRID COLUMN SETUP   ==================================================================== */
.col0 {
  display: block;
  float: left;
  margin: 0;
  text-align: left;
}
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
}
/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}
/* 
	100% width auto control for "img", "object" and
	"embed" controls.
	============================================ IMAGE FULL WIDTH CONTROLS ====
*/
img,
object,
embed {
  max-width: 100%;
}
img {
  height: auto;
}
figure img {
  max-width: 100%;
}
/*  GRID OF TWO   ============================================================================= */
.span_2_2 {
  width: 100%;
}
.span_1_2 {
  width: 49.2%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_2_2 {
    width: 100%;
  }
  .span_1_2 {
    width: 100%;
  }
  .col0 {
    width: 100% !important;
  }
}
/*  GRID OF THREE   ============================================================================= */
.span_3_3 {
  width: 100%;
}
.span_2_3 {
  width: 66.13%;
}
.span_1_3 {
  width: 32.26%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_3_3 {
    width: 100%;
  }
  .span_2_3 {
    width: 100%;
  }
  .span_1_3 {
    width: 100%;
  }
}
/*  GRID OF FIVE   ============================================================================= */
.span_5_5 {
  width: 100%;
}
.span_4_5 {
  width: 79.68%;
}
.span_3_5 {
  width: 59.36%;
}
.span_2_5 {
  width: 39.04%;
}
.span_1_5 {
  width: 18.72%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_5_5 {
    width: 100%;
  }
  .span_4_5 {
    width: 100%;
  }
  .span_3_5 {
    width: 100%;
  }
  .span_2_5 {
    width: 100%;
  }
  .span_1_5 {
    width: 100%;
  }
}
/*  GRID OF SIX   ============================================================================= */
.span_6_6 {
  width: 100%;
}
.span_5_6 {
  width: 83.06%;
}
.span_4_6 {
  width: 66.13%;
}
.span_3_6 {
  width: 49.2%;
}
.span_2_6 {
  width: 32.26%;
}
.span_1_6 {
  width: 15.33%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_6_6 {
    width: 100%;
  }
  .span_5_6 {
    width: 100%;
  }
  .span_4_6 {
    width: 100%;
  }
  .span_3_6 {
    width: 100%;
  }
  .span_2_6 {
    width: 100%;
  }
  .span_1_6 {
    width: 100%;
  }
}
/*  GRID OF SEVEN   ============================================================================= */
.span_7_7 {
  width: 100%;
}
.span_6_7 {
  width: 85.48%;
}
.span_5_7 {
  width: 70.97%;
}
.span_4_7 {
  width: 56.45%;
}
.span_3_7 {
  width: 41.94%;
}
.span_2_7 {
  width: 27.42%;
}
.span_1_7 {
  width: 12.91%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_7_7 {
    width: 100%;
  }
  .span_6_7 {
    width: 100%;
  }
  .span_5_7 {
    width: 100%;
  }
  .span_4_7 {
    width: 100%;
  }
  .span_3_7 {
    width: 100%;
  }
  .span_2_7 {
    width: 100%;
  }
  .span_1_7 {
    width: 100%;
  }
}
/*  GRID OF EIGHT   ============================================================================= */
.span_8_8 {
  width: 100%;
}
.span_7_8 {
  width: 87.3%;
}
.span_6_8 {
  width: 74.6%;
}
.span_5_8 {
  width: 61.9%;
}
.span_4_8 {
  width: 49.2%;
}
.span_3_8 {
  width: 36.5%;
}
.span_2_8 {
  width: 23.8%;
}
.span_1_8 {
  width: 11.1%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_8_8 {
    width: 100%;
  }
  .span_7_8 {
    width: 100%;
  }
  .span_6_8 {
    width: 100%;
  }
  .span_5_8 {
    width: 100%;
  }
  .span_4_8 {
    width: 100%;
  }
  .span_3_8 {
    width: 100%;
  }
  .span_2_8 {
    width: 100%;
  }
  .span_1_8 {
    width: 100%;
  }
}
/*  GRID OF NINE   ============================================================================= */
.span_9_9 {
  width: 100%;
}
.span_8_9 {
  width: 88.71%;
}
.span_7_9 {
  width: 77.42%;
}
.span_6_9 {
  width: 66.13%;
}
.span_5_9 {
  width: 54.84%;
}
.span_4_9 {
  width: 43.55%;
}
.span_3_9 {
  width: 32.26%;
}
.span_2_9 {
  width: 20.97%;
}
.span_1_9 {
  width: 9.68%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_9_9 {
    width: 100%;
  }
  .span_8_9 {
    width: 100%;
  }
  .span_7_9 {
    width: 100%;
  }
  .span_6_9 {
    width: 100%;
  }
  .span_5_9 {
    width: 100%;
  }
  .span_4_9 {
    width: 100%;
  }
  .span_3_9 {
    width: 100%;
  }
  .span_2_9 {
    width: 100%;
  }
  .span_1_9 {
    width: 100%;
  }
}
/*  GRID OF TWELVE   ============================================================================= */
.span_12_12 {
  width: 100%;
}
.span_11_12 {
  width: 91.53%;
}
.span_10_12 {
  width: 83.06%;
}
.span_9_12 {
  width: 74.6%;
}
.span_8_12 {
  width: 66.13%;
}
.span_7_12 {
  width: 57.66%;
}
.span_6_12 {
  width: 49.2%;
}
.span_5_12 {
  width: 40.73%;
}
.span_4_12 {
  width: 32.26%;
}
.span_3_12 {
  width: 23.8%;
}
.span_2_12 {
  width: 15.33%;
}
.span_1_12 {
  width: 6.86%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_12_12 {
    width: 100%;
  }
  .span_11_12 {
    width: 100%;
  }
  .span_10_12 {
    width: 100%;
  }
  .span_9_12 {
    width: 100%;
  }
  .span_8_12 {
    width: 100%;
  }
  .span_7_12 {
    width: 100%;
  }
  .span_6_12 {
    width: 100%;
  }
  .span_5_12 {
    width: 100%;
  }
  .span_4_12 {
    width: 100%;
  }
  .span_3_12 {
    width: 100%;
  }
  .span_2_12 {
    width: 100%;
  }
  .span_1_12 {
    width: 100%;
  }
}
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  zoom: 1;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.flexslider .slides {
  zoom: 1;
}
.carousel li {
  margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  display: block;
  width: 20px;
  height: 20px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  text-indent: -9999px;
}
.flex-direction-nav .flex-prev {
  left: -30px;
}
.flex-direction-nav .flex-next {
  right: -30px;
  text-align: right;
}
/*.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }*/
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '';
}
.flex-direction-nav a.flex-next:before {
  content: '';
}
/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
/* Control Nav */
.flex-control-nav {
  width: 100%;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
html {
  margin: 0px;
  padding: 0px;
}
a {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
body {
  background: #f3f4f6;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: center;
}
p {
  color: #1f1e23;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  margin: 0.5em 0;
  line-height: 1.2em;
  text-align: left;
}
ul {
  color: #1f1e23;
}
ul li {
  list-style: none;
  background: url(images/ul-icon.png) 0 9px no-repeat;
  padding-left: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}
.inner,
#login {
  max-width: 1200px;
  margin: 0 auto;
  /*overflow: hidden;*/

  clear: both;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}
.nocomments {
  display: none;
}
.read-more {
  text-align: left;
}
.read-more a {
  font-weight: bold;
  font-size: 0.9em;
  font-family: 'PT Sans', sans-serif;
}
.read-more a:hover {
  text-decoration: underline;
}
#wrapper {
  margin: auto;
  width: 100%;
}
#wrapper header#header {
  z-index: 100;
  position: relative;
}
#wrapper header#header #header-top {
  height: 125px;
  background: #ffffff;
  /* Fall-back for browsers that don't support rgba */

  background: rgba(255, 255, 255, 0.7);
  padding: 0 0 10px 20px;
}
#wrapper header#header #header-top #logo {
  text-align: left;
  margin-bottom: 0;
  outline: none;
}
#wrapper header#header #header-top #slogan {
  padding-top: 35px;
  font-weight: 600;
  font-size: 1.4em;
  font-style: italic;
  font-family: 'PT Sans', sans-serif;
}
#wrapper header#header #header-top #social-network {
  margin-top: 45px;
}
#wrapper header#header #header-top #social-network ul {
  float: right;
  padding-right: 30px;
}
#wrapper header#header #header-top #social-network ul li {
  list-style: none;
  display: inline;
  background: url("images/social.png") no-repeat;
  display: inline-block;
  height: 52px;
  text-indent: -9999px;
  padding: 0px 2px;
  width: 48px;
}
#wrapper header#header #header-top #social-network ul li a {
  height: 52px;
  text-indent: -9999px;
  padding: 0px 2px;
  width: 48px;
  display: block;
  outline: none;
}
#wrapper header#header #header-top #social-network ul li.facebook {
  background-position: 0px 0px;
}
#wrapper header#header #header-top #social-network ul li.facebook:hover {
  background-position: -91px 0px;
}
#wrapper header#header #header-top #social-network ul li.twitter {
  background-position: 0px -70px;
}
#wrapper header#header #header-top #social-network ul li.twitter:hover {
  background-position: -91px -70px;
}
#wrapper header#header #header-top #social-network ul li.linkedin {
  background-position: 0px -144px;
}
#wrapper header#header #header-top #social-network ul li.linkedin:hover {
  background-position: -91px -144px;
}
#wrapper header#header nav {
  margin: 0;
  text-align: left;
}
#wrapper header#header nav ul {
  margin: 0px;
  padding: 0px;
  position: relative;
  background-color: #004391;
}
#wrapper header#header nav ul #menu-item-20,
#wrapper header#header nav ul #menu-item-18 {
  display: none;
}
#wrapper header#header nav ul > li {
  background-image: none;
  padding-left: 0;
  display: inline;
  list-style: none;
  position: relative;
  width: auto;
}
#wrapper header#header nav ul > li a {
  background-color: #004391;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  padding: 12px 21px;
  font-family: 'PT Sans', sans-serif;
}
#wrapper header#header nav ul > li:hover ul.sub-menu {
  display: block;
}
#wrapper header#header nav ul > li:hover .sub-menu2,
#wrapper header#header nav ul > li:hover .sub-menu3 {
  display: inline-block;
}
#wrapper header#header nav ul > li:hover a {
  background-color: #161c2a;
}
#wrapper header#header nav ul > li.menu-item-has-children:hover a {
  background-color: #161c2a;
  color: #ffffff;
}
#wrapper header#header nav ul > li ul {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  padding: 0px;
  min-width: 150px;
  z-index: 2000;
  background-color: #161c2a;
}
#wrapper header#header nav ul > li ul li {
  display: block;
  z-index: 2000;
  padding: 5px 17px 5px 17px;
}
#wrapper header#header nav ul > li ul li a {
  min-width: 230px;
  font-weight: normal;
  font-size: 1.1em;
  text-transform: initial;
  background: url(images/ul-icon.png) 0 16px no-repeat;
  padding-left: 20px;
}
#wrapper header#header nav ul > li .sub-menu2,
#wrapper header#header nav ul > li .sub-menu3 {
  display: none;
  left: 0;
  position: absolute;
  top: 29px;
  /*width: 576px;*/

  background-color: #161c2a;
}
#wrapper header#header nav ul > li .sub-menu2 .col-submenu,
#wrapper header#header nav ul > li .sub-menu3 .col-submenu {
  float: left;
  background-color: #161c2a;
  padding: 25px 17px 13px 17px;
}
#wrapper header#header nav ul > li .sub-menu2 .col-submenu h2,
#wrapper header#header nav ul > li .sub-menu3 .col-submenu h2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.2em;
  padding-bottom: 19px;
  margin-bottom: 7px;
  border-bottom: 1px solid #985717;
}
#wrapper header#header nav ul > li .sub-menu2 .col-submenu a,
#wrapper header#header nav ul > li .sub-menu3 .col-submenu a {
  background-color: #161c2a;
  font-weight: normal;
  font-size: 1.1em;
  text-transform: initial;
  background: url(images/ul-icon.png) 0 16px no-repeat;
  padding-left: 20px;
}
#wrapper header#header nav ul > li .sub-menu2 #col-submenu1,
#wrapper header#header nav ul > li .sub-menu3 #col-submenu1,
#wrapper header#header nav ul > li .sub-menu2 #col-submenu3,
#wrapper header#header nav ul > li .sub-menu3 #col-submenu3 {
  width: 262px;
}
#wrapper header#header nav ul > li .sub-menu2 #col-submenu2,
#wrapper header#header nav ul > li .sub-menu3 #col-submenu2,
#wrapper header#header nav ul > li .sub-menu2 #col-submenu4,
#wrapper header#header nav ul > li .sub-menu3 #col-submenu4 {
  width: 245px;
}
#wrapper header#header nav #menu-menu-1 {
  width: 75%;
  float: left;
}
#wrapper header#header nav #menu-members-menu,
#wrapper header#header nav #menu-logout {
  float: left;
  width: 25%;
}
#wrapper header#header nav #menu-members-menu li,
#wrapper header#header nav #menu-logout li {
  background-color: #161c2a;
}
#wrapper header#header nav #menu-members-menu li a,
#wrapper header#header nav #menu-logout li a {
  background-color: #161c2a;
}
#wrapper header#header nav #menu-members-menu #menu-item-69s,
#wrapper header#header nav #menu-logout #menu-item-69s {
  float: right;
}
#wrapper header#header nav #menu-logout li {
  float: right;
}
#wrapper #slider {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 20;
  bottom: 177px;
}
#wrapper #slider #slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
#wrapper #slider #slider-wrapper li {
  background-image: none;
  padding-left: 0;
}
#wrapper #slider #slider-wrapper img {
  height: 577px;
}
#wrapper #slider #slider-wrapper .text {
  position: relative;
  bottom: 91px;
  background: url(images/bg-pattern.png);
  background-color: #ac661e;
  /* Fall-back for browsers that don't support rgba */

  background-color: rgba(172, 102, 30, 0.7);
  width: 100%;
  text-align: left;
  display: inline-block;
}
#wrapper #slider #slider-wrapper .text h1 {
  padding-left: 20px;
  color: #ffffff;
  line-height: 90px;
  font-size: 1.9em;
  float: left;
}
#wrapper #slider #slider-wrapper .text div {
  float: right;
  line-height: 90px;
}
#wrapper #slider #slider-wrapper .text div a {
  background-color: #161c2a;
  padding: 10px 40px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3em;
}
#wrapper #slider #slider-wrapper .flex-direction-nav a {
  background-image: url(images/arrows.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 41%;
}
#wrapper #slider #slider-wrapper .flex-direction-nav .flex-prev {
  background-position: 0 0;
  left: 0;
}
#wrapper #slider #slider-wrapper .flex-direction-nav .flex-next {
  background-position: 0 -76px;
  right: 0;
}
#wrapper #home-content {
  margin: 35px auto;
}
#wrapper #home-content #boxes-container .box-container {
  height: 100%;
}
#wrapper #home-content #boxes-container .box-container section {
  background-color: #ffffff;
  padding-top: 25px;
  position: relative;
  width: 355px;
}
#wrapper #home-content #boxes-container .box-container section .box-image {
  background-image: url(images/icons.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-left: 36%;
}
#wrapper #home-content #boxes-container .box-container section #box-image1 {
  background-position: 0 0;
}
#wrapper #home-content #boxes-container .box-container section #box-image2 {
  background-position: 0 -150px;
}
#wrapper #home-content #boxes-container .box-container section #box-image3 {
  background-position: 0 -300px;
}
#wrapper #home-content #boxes-container .box-container section h2 {
  padding: 20px 0;
  color: #004391;
  font-weight: normal;
}
#wrapper #home-content #boxes-container .box-container section .text {
  margin: 0 20px 20px 27px;
}
#wrapper #home-content #boxes-container .box-container section .text p {
  color: #1f1e23;
  line-height: 25px;
  font-size: 1.1em;
}
#wrapper #home-content #boxes-container .box-container section .text ul {
  line-height: 25px;
  font-size: 1.1em;
}
#wrapper #home-content #boxes-container .box-container section .text ul li {
  text-align: left;
  list-style-type: none;
  line-height: 25px;
}
#wrapper #home-content #boxes-container .box-container section .more {
  position: absolute;
  bottom: 0;
  left: 28%;
  padding: 11px 0;
}
#wrapper #home-content #boxes-container .box-container section .more a {
  padding: 8px 45px;
  background-color: #004391;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3em;
}
#wrapper #home-content #boxes-container .box-container section:hover {
  background-color: #004391;
}
#wrapper #home-content #boxes-container .box-container section:hover p,
#wrapper #home-content #boxes-container .box-container section:hover li,
#wrapper #home-content #boxes-container .box-container section:hover h2 {
  color: #ffffff;
}
#wrapper #home-content #boxes-container .box-container section:hover .more a {
  background-color: #ffffff;
  color: #000000;
}
#wrapper #home-content #boxes-container .box-container section:hover #box-image1 {
  background-position: -155px 0;
}
#wrapper #home-content #boxes-container .box-container section:hover #box-image2 {
  background-position: -155px -150px;
}
#wrapper #home-content #boxes-container .box-container section:hover #box-image3 {
  background-position: -155px -300px;
}
#wrapper #home-content #boxes-container .box-container .section1 {
  /*	margin-left: 0;
					margin-right: 24px;*/

}
#wrapper #home-content #boxes-container .box-container .section2 {
  margin-left: 15px;
  /*margin-right: 24px;*/

}
#wrapper #home-content #boxes-container .box-container .section3 {
  margin-left: 30px;
  /*margin-left: 24px;*/

}
#wrapper footer#footer {
  background-color: #ffffff;
}
#wrapper footer#footer #footer-top {
  border-top: 1px solid #985717;
  padding: 35px 0;
}
#wrapper footer#footer #footer-top img {
  margin-right: 35px;
}
#wrapper footer#footer #footer-bottom {
  font-size: 1em;
  padding-bottom: 10px;
}
#wrapper footer#footer #footer-bottom span {
  color: #985717;
  padding: 0 10px;
}
#wrapper footer#footer #footer-bottom ul {
  display: inline;
}
#wrapper footer#footer #footer-bottom ul li {
  display: inline;
  list-style: none;
  background-image: none;
  padding-left: 0;
}
#wrapper footer#footer #footer-bottom ul li a {
  background-image: url(images/social-footer.png);
  background-repeat: no-repeat;
  width: 27px;
  line-height: 19px;
  text-indent: -9999px;
  display: inline-block;
}
#wrapper footer#footer #footer-bottom ul li.facebook a {
  background-position: 12px 0;
}
#wrapper footer#footer #footer-bottom ul li.twitter a {
  background-position: 0 -40px;
}
#wrapper footer#footer #footer-bottom ul li.linkedin a {
  background-position: 0 -80px;
}
#wrapper .content-area {
  overflow: hidden;
  width: 90%;
}
#wrapper .content-area ul {
  margin: 2em;
}
#wrapper .content-area ul li {
  line-height: 1.5em;
}
#wrapper .content-area p {
  line-height: 1.5em;
}
#wrapper .content-area #content {
  text-align: left;
  margin: 3em 0;
}
#wrapper .content-area #content article {
  display: inline-block;
  padding: 2em 0 1em 0;
  text-align: left;
  width: 90%;
  border-bottom: 1px solid #778c9d;
}
#wrapper .content-area #content article header h1 {
  margin: 0 0 0.5em 0;
}
#wrapper .content-area #content article .entry-content {
  margin: 1em 0;
}
#wrapper .content-area #content article footer {
  margin-top: 3em;
}
#wrapper .content-area #content article footer #commentform #email,
#wrapper .content-area #content article footer #commentform #url,
#wrapper .content-area #content article footer #commentform label[for=email],
#wrapper .content-area #content article footer #commentform label[for=url] {
  display: none;
}
#wrapper .content-area #content article footer #commentform #submit {
  background-color: #004391;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 6px;
  border: none;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -khtml-border-radius: 5px;
  /* Linux browsers */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
  cursor: pointer;
}
#wrapper .content-area #content article footer .commentlist {
  margin: 1.5em 0;
}
#wrapper .content-area #content article footer .commentlist .comment {
  margin: 1.5em 0;
}
#wrapper .content-area #content .archive-header-category {
  padding-right: 5em;
}
#wrapper .content-area #content .archive-header-category h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
#wrapper .content-area #content #content-category article header h1 {
  font-size: 1.5em;
}
#wrapper .content-area #content #content-category article img {
  width: 100%;
  height: 100%;
}
#wrapper .content-area #content #content-category article aside p {
  padding-left: 0.3em;
}
#wrapper .content-area #content #content-category article .read-more {
  display: inline-block;
  padding: 0 0 1em 0.4em;
  font-weight: 600;
}
#wrapper .content-area #content .wp-pagenavi {
  margin: 3em 0;
}
#wrapper .content-area #content #searchform {
  height: 40px;
  padding: 0px;
  margin-top: 8px;
  width: 22.31%;
}
#wrapper .content-area #content #searchform #s {
  background: #004391;
  border: none;
  color: #ffffff;
  float: left;
  line-height: 38px;
  height: 33px;
  padding-left: 5%;
  font-weight: bold;
  width: 85%;
}
#wrapper .content-area #content #searchform #searchsubmit {
  background: url("images/icon-search.png") 0 8px no-repeat #004391;
  border: none;
  height: 35px;
  margin: 0px;
  width: 10%;
  cursor: pointer;
}
#wrapper .content-area #secondary,
#wrapper .content-area #sidebar {
  margin-top: 2em;
}
#wrapper .content-area #secondary li,
#wrapper .content-area #sidebar li {
  list-style-type: none;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 0.1em solid #d5d5d5;
}
#wrapper .content-area #secondary li:last-child,
#wrapper .content-area #sidebar li:last-child {
  border-bottom: none;
}
#wrapper .content-area #secondary li a,
#wrapper .content-area #sidebar li a {
  color: #1f1e23;
}
#wrapper .content-area #secondary .widgettitle,
#wrapper .content-area #sidebar .widgettitle {
  font-size: 2em;
  margin-top: 1em;
  text-align: left;
}
#wrapper .content-area #secondary ul,
#wrapper .content-area #sidebar ul {
  margin: 1em 0 0.5em 0;
  text-align: left;
}
#wrapper .content-area #secondary #searchform,
#wrapper .content-area #sidebar #searchform {
  height: 40px;
  padding: 0px;
  margin-top: 8px;
  width: 22.31%;
}
#wrapper .content-area #secondary #searchform #s,
#wrapper .content-area #sidebar #searchform #s {
  background: #004391;
  border: none;
  color: #ffffff;
  float: left;
  line-height: 38px;
  height: 33px;
  padding-left: 5%;
  font-weight: bold;
  width: 85%;
}
#wrapper .content-area #secondary #searchform #searchsubmit,
#wrapper .content-area #sidebar #searchform #searchsubmit {
  background: url("images/icon-search.png") 0 8px no-repeat #004391;
  border: none;
  height: 35px;
  margin: 0px;
  width: 10%;
  cursor: pointer;
}
#wrapper .video-container {
  position: relative;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 40%;
  padding-bottom: 400px;
}
#wrapper .video-container iframe,
#wrapper .video-container object,
#wrapper .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#wrapper #login {
  padding: 2em 0;
}
#wrapper #login > h1 {
  display: none;
}
#wrapper #login .register {
  display: none;
}
#wrapper #login .disclaimer {
  text-align: left;
  padding: 8px 0;
  color: #1f1e23;
}
#wrapper .login-title {
  font-weight: bold;
  padding: 40px 0 0 0;
}
@media only screen and (max-width: 1400px) {
  .inner #home-content {
    width: 85%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  /*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */
  #home-content {
    width: 95%;
  }
}
@media only screen and (max-width: 480px) {
  /*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */
  /*  GRID OF EIGHT TURNS INTO A GRID OF FOUR */
  .span_8_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_7_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_6_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_5_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_4_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_3_of_8 {
    width: 74.2%;
    margin: 1% 0 1% 3.2%;
  }
  .span_2_of_8 {
    width: 48.4%;
    margin: 1% 0 1% 3.2%;
  }
  .span_1_of_8 {
    width: 22.6%;
    margin: 1% 0 1% 3.2%;
  }
  .span_1_of_8:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
  }
  #wrapper {
    width: 95%;
  }
  #wrapper header#header #header-top {
    display: none;
  }
  #wrapper header#header #header-bottom #header-bottom-wrapper #logo {
    display: none;
  }
  #wrapper header#header #header-bottom #header-bottom-wrapper nav {
    /*display: none;*/
  
  }
  #wrapper header#header #header-bottom #header-bottom-wrapper nav ul li {
    padding-left: 0;
  }
  #wrapper header#header #header-bottom #header-bottom-wrapper nav ul li a {
    padding: 2px 2px;
  }
  #wrapper header#header #header-middle #header-middle-wrapper #title {
    padding-left: 0;
    text-align: center;
  }
  #wrapper #home-content #col1 #headlines-opinion-wrapper #headlines-wrapper #headlines-col1 {
    margin: 0;
  }
  #wrapper #home-content #col1 #headlines-opinion-wrapper #headlines-wrapper #headlines-col2 {
    padding-top: 1em;
    margin: 0;
  }
  #wrapper #home-content #col1 #headlines-opinion-wrapper #headlines-wrapper #headlines-col2 h1 {
    margin-top: 0.5em;
  }
  #wrapper #home-content #col1 #latest-news-edition-tabs-wrapper #latest-news-edition-wrapper #edition-wrapper #edition-title-wrapper h1 {
    width: auto;
  }
  #wrapper #home-content #col1 #latest-news-edition-tabs-wrapper #latest-news-edition-wrapper #edition-wrapper #edition-title-wrapper time {
    width: auto;
  }
  #wrapper footer#footer #footer-top #footer-title {
    text-align: center;
  }
  #wrapper footer#footer #footer-top nav ul li {
    text-align: center;
  }
  #wrapper footer#footer #footer-middle nav {
    margin-top: 0;
    column-count: 1;
    -moz-column-count: 1;
    /* Firefox */
  
    -webkit-column-count: 1;
    /* Safari and Chrome */
  }
  #wrapper footer#footer #footer-middle nav ul li {
    width: 100%;
    text-align: center;
  }
}
